In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('data.csv')
#data.head(5)
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month #column with month
data['income'] = data.revenue - data.budget #column with income
 #list of production companies
comp_list = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()

In [5]:
len(data)

1890

# Предобработка датасета

In [89]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [4]:
Q1 = data[data.budget == data.budget.max()] #show nessesary row with condition
Q1

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [12]:
data.sort_values(by = 'budget', ascending=False) #getting result by dataset sorting

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,3180,6.3,2011
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,2626,6.8,2007
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015
1015,tt0401729,1.588457,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,1479,6.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,tt0283111,1.568528,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,684,5.9,2002
893,tt0259446,1.271588,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,395,6.1,2002
1072,tt2109184,0.557661,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,352,5.3,2012
912,tt0322802,0.925495,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,197,6.2,2002
1217,tt2101441,1.626627,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,996,5.0,2013

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
**4. The Warrior's Way	(tt1032751)**
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [90]:
answer_ls = [4]

In [6]:
Q2 = data[data.runtime == data.runtime.max()] #using condition for column 'runtime'
Q2

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
**2. Gods and Generals	(tt0279111)**
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [91]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426

**3. Winnie the Pooh	tt1449283**
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [92]:
Q3 = data[data.runtime == data.runtime.min()] 
answer_ls.append(3)
Q3

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month,income,profit
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,174,6.8,2011,4,-15540000,0

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
**2. 110**
3. 105
4. 120
5. 100

In [93]:
Q4 = data.runtime.mean() #using mean function for column
answer_ls.append(2)
Q4

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
**1. 106**
2. 112
3. 101
4. 120
5. 115

In [94]:

answer_ls.append(1)
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,release_month,income,profit
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000,1890.000000,1.890000e+03,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905,6.935979,1.007820e+08,0.782011
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929,3.391302,1.834078e+08,0.412989
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000,1.000000,-4.139124e+08,0.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000,4.000000,5.000000e+06,1.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000,7.000000,4.400020e+07,1.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000,10.000000,1.201703e+08,1.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000,12.000000,2.544506e+09,1.000000

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
**5. Avatar	tt0499549**

In [109]:
data['income'] = data.revenue - data.budget #create column with income
data.sort_values(by = 'income', ascending=False).head(3) #group films by income

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month,income,1890
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,8458,7.1,2009,12,2544505847,6
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,12,1868178225,28
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,6,1363528810,14

In [95]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
**2. The Warrior's Way tt1032751**
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [96]:
answer_ls.append(2) #answer was found in p.6

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
**1. 1478**
2. 1520
3. 1241
4. 1135
5. 1398

In [26]:
len(data[data.income>0]) #reply is number of rows in dataframe with condition for income column

1478

In [97]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. **The Dark Knight	tt0468569**
5. Mamma Mia!	tt0795421

In [41]:
df1 = data[data.release_date.str.contains('2008')] #create DF with release year 2008
df1[df1.income == df1.income.max()] #use max to find the highest income in new DF

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [110]:
data[data.release_year == 2008].sort_values(by = 'income', ascending = False).head(3) #also answer can be recieved with using of sorting function

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month,income,1890
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,7,816921825,15
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,1537,5.6,2008,5,601636033,50
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,2008-06-30,805,6.2,2008,6,557841637,10

In [98]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. **The Lone Ranger	tt1210819**

In [54]:
data.query('2012 <= release_year <= 2014').sort_values(by = 'income', ascending = True).head() #using queery to get all rows with release year in required range, sorting.

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171

In [99]:
answer_ls.append(5)

In [58]:
def qty_by_column(dfm, X): #function calculate quantity of terms in column
    
    dict = {} #empty dictionary
    list = [] #empty list
    for row in range(len(dfm)):
        list = dfm.loc[row, X].split('|') #convert string to list of string values
        for term in list:
            if term in dict:
                dict[term] += 1 #for existing terms add quantity
            else:
                dict[term] = 1 #create key & initial value for terms that appear 1st time
    return pd.Series(dict).sort_values(ascending=False)

In [44]:
qty_by_column(data, 'genres')

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. **Drama**
4. Comedy
5. Thriller

In [100]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. **Drama**
2. Comedy
3. Action
4. Thriller
5. Adventure

In [48]:
df = data[data['income'] > 0].reset_index()
qty_by_column(df, 'genres')

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [102]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. **Steven Soderbergh**
4. Christopher Nolan
5. Clint Eastwood

In [26]:
data.director.describe() #describe method give name of director who have the biggest frequency

count                  1890
unique                  958
top       Steven Soderbergh
freq                     13
Name: director, dtype: object

In [103]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. **Ridley Scott**
5. Christopher Nolan

In [27]:
data[data['income'] > 0].director.describe() #same way as p.13 but for DF with condition for income column

count             1478
unique             774
top       Ridley Scott
freq                12
Name: director, dtype: object

In [104]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. **Peter Jackson**

In [34]:
data.groupby('director').income.agg(sum).sort_values(ascending = False) #group data by director with 'sum' function

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: income, Length: 958, dtype: int64

In [105]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. **Emma Watson**
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [49]:
def income_by_column(data, X): #function calculate quantity of terms in column
    dict = {} #empty dictionary
    list = [] #empty list
    for row in range(len(data)):
        list = data.loc[row, X].split('|') #convert string to list of string values
        for term in list:
            if term in dict:
                dict[term] += data.loc[row, 'income'] #for existing terms add income
            else:
                dict[term] = data.loc[row, 'income'] #create key & initial value for terms that appear 1st time
    return pd.Series(dict).sort_values(ascending=False)

In [51]:
income_by_column(data, 'cast')

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Jang Dong-gun         -413912431
Ti Lung               -413912431
Length: 3408, dtype: int64

In [49]:
#df = pd.DataFrame(data.cast.str.split('|').tolist())
#df

,0,1,2,3,4
0,Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Vincent D'Onofrio,Nick Robinson
1,Tom Hardy,Charlize Theron,Hugh Keays-Byrne,Nicholas Hoult,Josh Helman
2,Shailene Woodley,Theo James,Kate Winslet,Ansel Elgort,Miles Teller
3,Harrison Ford,Mark Hamill,Carrie Fisher,Adam Driver,Daisy Ridley
4,Vin Diesel,Paul Walker,Jason Statham,Michelle Rodriguez,Dwayne Johnson
...,...,...,...,...,...
1885,Patrick Stewart,Hugh Jackman,Ian McKellen,Halle Berry,Famke Janssen
1886,Richard E. Grant,Jonathan Lipnicki,Jim Carter,Alice Krige,Pamela Gidley
1887,Rene Russo,Jason Alexander,Piper Perabo,Randy Quaid,Robert De Niro
1888,Meg Ryan,Diane Keaton,Lisa Kudrow,Walter Matthau,Adam Arkin
1889,Susan Ward,Lori Heuring,Matthew Settle,Nathan Bexton,Tess Harper

In [106]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. **Kirsten Dunst**
4. Jim Sturgess
5. Sami Gayle

In [52]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201

In [53]:
df = data[data['release_year'] == 2012].reset_index()
income_by_column(df, 'cast')

Chris Hemsworth      1542450773
Denis Leary          1319460639
Robert Downey Jr.    1299557910
Chris Evans          1299557910
Mark Ruffalo         1299557910
                        ...
Malin Ã…kerman        -43733509
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Kirsten Dunst         -68109207
Length: 466, dtype: int64

In [107]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. **Matt Damon**
4. Angelina Jolie
5. Adam Sandler

In [57]:
df = data[data['budget'] > data['budget'].mean()].reset_index()
qty_by_column(df, 'cast')

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Jennifer Tilly        1
Eileen Atkins         1
Jenna Elfman          1
Vincent Cassel        1
Piper Perabo          1
Length: 1508, dtype: int64

In [108]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. **Action**
3. Thriller
4. Adventure
5. Crime

In [65]:
df = data[data['cast'].str.contains('Nicolas Cage')].reset_index() #DataFrame with films with Cage
qty_by_column(df, 'genres')

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [109]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. **Universal Pictures (Universal)**
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [70]:
#data.head()
qty_by_column(data, 'production_companies')

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Neal H. Moritz Productions                  1
Red Hour Productions                        1
Finestkind                                  1
Black and Blu Entertainment                 1
Nora Ephron Productions                     1
Length: 1772, dtype: int64

In [110]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. **Warner Bros**
5. Twentieth Century Fox Film Corporation

In [80]:
df = data.query('release_year == 2015').reset_index()
qty_by_column(df, 'production_companies')

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Moonlighting Films                         1
Apatow Productions                         1
Chartoff-Winkler Productions               1
K. JAM Media                               1
Universal Studios                          1
Length: 246, dtype: int64

In [111]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. **Universal Pictures (Universal)**
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [88]:
df = data[data['genres'].str.contains('Comedy')].reset_index()
#df.tail()
income_by_column(df, 'production_companies')

Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Length: 702, dtype: int64

In [112]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. **Columbia Pictures**
4. Paramount Pictures
5. Lucasfilm

In [93]:
df = data.query('release_year == 2012').reset_index()
#df.tail()
income_by_column(df, 'production_companies')

Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Onyx Films             -51893525
Transfilm              -51893525
Jouror Productions     -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Length: 236, dtype: int64

In [113]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. **K-19: The Widowmaker tt0267626**
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [107]:
data.loc[data[data['production_companies'].str.contains('Paramount Pictures')].income.idxmin(),:] #crazy code with 'INXMIN'

imdb_id                                                         tt0267626
popularity                                                        0.72233
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_count                                                            146
vote_average                                                            6
release_year                                                         2002
income                                                          -64831034
Name: 926, dtype: object

In [106]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values(by = 'income').head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987

In [114]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. **2015**

In [118]:
data.groupby('release_year').income.sum()

<bound method Series.max of release_year
2000     6101399805
2001     7950614865
2002     9002361487
2003     9228823312
2004     9634180720
2005     8981925558
2006     8691077320
2007    11565911801
2008    11663881990
2009    13423744372
2010    13117292530
2011    14730241341
2012    16077001687
2013    15243179791
2014    16397812953
2015    18668572378
Name: income, dtype: int64>

In [115]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. **2014**
2. 2008
3. 2012
4. 2010
5. 2015

In [125]:
data[(data['production_companies'].str.contains('Warner Bros')) 
     & (~data['production_companies'].str.contains('Warner Bros. Pictures'))].groupby('release_year').income.sum().sort_values()

release_year
2000     471305068
2006     614989614
2015     870368348
2002    1072248589
2012    1258020056
2001    1428174853
2005    1551980298
2013    1636453400
2004    1675125175
2009    1833481628
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2167367993
2014    2295464519
Name: income, dtype: int64

In [116]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. **Сентябрь**
5. Май

In [163]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,realease_month
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1363528810,6
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,228436354,5
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,185238201,3

In [14]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month

In [15]:
data.groupby('release_month').agg('count').imdb_id.sort_values(ascending=False)

release_month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [117]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. **450**
3. 478
4. 523
5. 381

In [167]:
data.groupby('release_month').agg('count').imdb_id.sort_index()[5:8].sum() #slising and using sum function

450

In [118]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. **Peter Jackson**

In [168]:
df = data.query('release_month in [12, 1, 2]').reset_index() #creat DF of films that released at Dec(12), Jan(1) and Feb(2)
qty_by_column(df, 'director')

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Shawn Levy           4
                    ..
Anthony Minghella    1
Ronald F. Maxwell    1
Alan Parker          1
Chris Koch           1
J.J. Abrams          1
Length: 359, dtype: int64

In [119]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. **Июнь**
3. Декабрь
4. Сентябрь
5. Май

In [6]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201

# Через мульти-индекс должно быть проще, но не пойму как выцепить максимальные значения в годах

In [100]:
#pvt1 = data.pivot_table(index = ['release_year', 'release_month'], values = 'income', aggfunc = 'sum')
#pvt1.iloc[0:12]

In [101]:
#pvt1[pvt1['income'] == pvt1['income'].max()]

In [84]:
pvt1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 192 entries, (2000, 1) to (2015, 12)
Data columns (total 1 columns):
income    192 non-null int64
dtypes: int64(1)
memory usage: 2.9 KB

In [6]:
pvt = data.pivot_table(columns = 'release_year', index = 'release_month', values = 'income', aggfunc = 'sum') #table with biggest income by months
pvt.idxmax().value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [120]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. **Four By Two Productions**

In [111]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month,income,1890
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,6,1363528810,14
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,5,228436354,18
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,3,185238201,9

In [4]:
comp_list = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()
film_title_lenght = Counter()
for company in comp_list:
    film_title_lenght[company] = data[data['production_companies'].str.contains(company)].original_title.apply(len).mean()
series = pd.Series(film_title_lenght)
series.sort_values(ascending = False).head(2)

C:\Users\Xenia\Anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions    83.0
Jim Henson Company, The    59.0
dtype: float64

In [112]:
data['lenght'] = data['original_title'].apply(len)
data.groupby('production_companies').lenght.agg('mean').sort_values(ascending = False) #проще, но работает только для выбора ответов

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
Walt Disney|Walden Media                                                                                                62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                        ...
Sunswept Entertainment|Warner Bros.|Metro-Goldwyn-Mayer (MGM)                                                            3.0
Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
Columbia Pictures|Relativity Media                                                                                       2.0
Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
Name: lenght, Length: 1625, dtype: float64

In [121]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. **Four By Two Productions**

In [13]:
data['original_title'].str.split(' ').apply(len)

0       2
1       4
2       1
3       5
4       2
       ..
1885    1
1886    3
1887    6
1888    2
1889    3
Name: original_title, Length: 1890, dtype: int64

In [16]:
data['original_title'].str.split('|') #get list of words in title column
film_title_words = Counter() #use counter to calculate number of words in title (and mean them), for each production company in 'company'
for company in comp_list:
    film_title_words[company] = data[data['production_companies'].str.contains(company)].original_title.str.split(' ').apply(len).mean()
series = pd.Series(film_title_words)
series.sort_values(ascending = False).head(2)

Four By Two Productions    12.0
Jim Henson Company, The    10.0
dtype: float64

In [122]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. **2461**
4. 28304
5. 3432

In [32]:
comp_list = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()
words_in_title = pd.DataFrame(data['original_title'].str.lower().str.split(' ').tolist()).stack().unique()
len(words_in_title)

2462

In [123]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. **Inside Out, Gone Girl, 12 Years a Slave**
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. **The Lord of the Rings: The Return of the King**
4. 300, Lucky Number Slevin

In [33]:
data.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,release_month,income
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,6,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,5,228436354

In [34]:
data['vote_average'].describe()

count    1890.000000
mean        6.140899
std         0.764584
min         3.300000
25%         5.600000
50%         6.100000
75%         6.600000
max         8.100000
Name: vote_average, dtype: float64

In [54]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)].sort_values(by = 'vote_average').original_title

119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
600                                   The Dark Knight
Name: original_title, dtype: object

In [124]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. **Daniel Radcliffe & Rupert Grint**

In [4]:
cast_df = pd.DataFrame(data.cast.str.split('|').tolist())
cast_df.head(2)

,0,1,2,3,4
0,Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Vincent D'Onofrio,Nick Robinson
1,Tom Hardy,Charlize Theron,Hugh Keays-Byrne,Nicholas Hoult,Josh Helman

In [46]:
combo_list =[]

for row in data['cast']:
    actor_list = row.split('|')
    actor_list.sort()
    for combo in combinations(actor_list, 2):
        combo_list.append(combo)

c = Counter()
for combo in combo_list:
    c[combo] += 1

c.most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [18]:
#cast_df['cast_combinations'] = cast_df.apply(lambda x: list(combinations(x, 2)), axis = 1)

In [47]:
#list(combinations(cast_df.loc[1, :], 2)) work

In [125]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. **Clint Eastwood**

In [50]:
data['profit'] = data['income'].apply(lambda x: 1 if (x > 0) else 0) #creating column to show profitable films

In [53]:
def prob_calculation(data, X): #function calculate quantity of terms in column
    dict = {} #empty dictionary
    list = [] #empty list
    for row in range(len(data)):
        list = data.loc[row, X].split('|') #convert string to list of string values
        for term in list:
            if term in dict:
                dict[term] += data.loc[row, 'profit'] #for existing terms add income
            else:
                dict[term] = data.loc[row, 'profit'] #create key & initial value for terms that appear 1st time
    return pd.Series(dict).sort_values(ascending=False)

In [77]:
profitable_list = prob_calculation(data, 'director')
profitable_list.reset_index().sort_values(by = 'index')

              index  0
63    Aaron Seltzer  4
17       Adam McKay  6
15    Adam Shankman  7
935    Adam Wingard  0
681     Adrian Lyne  1
..              ... ..
168     Woody Allen  3
590     Xavier Gens  1
713    Xavier Palud  1
29      Zack Snyder  6
825  Zal Batmanglij  0

[998 rows x 2 columns]

In [78]:
total_list = qty_by_column(data, 'director')
total_list.reset_index().sort_values(by = 'index')

              index  0
52    Aaron Seltzer  5
43       Adam McKay  6
11    Adam Shankman  8
532    Adam Wingard  1
958     Adrian Lyne  1
..              ... ..
244     Woody Allen  3
769     Xavier Gens  1
808    Xavier Palud  1
41      Zack Snyder  6
675  Zal Batmanglij  1

[998 rows x 2 columns]

In [86]:
prob = (profitable_list/total_list).sort_values(ascending = False) #вообще вероятность считаться должна "прибыльные фильмы режиссера"/"отснятые режиссером"

In [80]:
probability = profitable_list/998 #вообще вероятность считаться должна "прибыльные фильмы режиссера"/"отснятые режиссером"
probability.sort_values(ascending = False)

Ridley Scott          0.012024
Clint Eastwood        0.010020
Steven Soderbergh     0.010020
Steven Spielberg      0.010020
Tim Burton            0.009018
                        ...
Gary Goldman          0.000000
John Frankenheimer    0.000000
Jack Sholder          0.000000
Christian Duguay      0.000000
Peter Hyams           0.000000
Length: 998, dtype: float64

In [126]:
answer_ls.append(5)

# Submission

In [127]:
len(answer_ls)

36

In [128]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       5